.input {
  max-width: 280px;
  padding-bottom: 7px;
  font-size: 13px;
  width: 100%;
  border-right: none;
  border-left: none;
  border-top: none;
  transition: 0.3s border-color;
  margin-bottom: 5px;
  &:focus {
    border-color: $color-blue;
  }
}

.input-err {
  font-size: 10px;
}

.label {
  display: block;
  margin-bottom: 16px;
}

.label__title {
  font-size: 9px;
  padding-bottom: 7px;
}