extends ../../layouts/main/main

block content
    .auth
        .card
            h4(class='card__title') Регистрация
            include ../../components/input/input
            each  value in registerFields
                +input(value.title, value.name, value.placeholder, value.type)
            div.auth__actions
                include ../../components/button/button
                +button('Create account', 'primary')
                include ../../components/link/link
                +link('Sign in', '../login/login.pug')
