mixin error(title, subtitle)
    div(class='error')
        p(class='error__title')= title
        p(class='error__subtitle')= subtitle
        a(class='error__link' href='../../pages/messenger/messenger.pug') back to chats