extends ../../layouts/main/main

block content
        div(class='profile')
            div(class='profile__sidebar')
                a(class='profile__back' href='../messenger/messenger.pug')
            div(class='profile__inner')
                div(class='profile__avatar')

                    button(class='profile__avatar__edit')
                        img(class='profile__avatar__img' alt="avatar" src='https://i.pravatar.cc/130')
                dl(class='profile-table')
                    each  value in profileTableKeyValue
                        div(class='profile-table__row')
                            dt(class='profile-table__dt')= value.key
                            dl(class='profile-table__dl')= value.value
                div(class='profile-actions')
                    include ../../components/link/link
                    +link('Edit', '', '')
                    +link('Change Password', '', '')
                    +link('Logout', '', '')


            include ../../features/profile/components/profileModal/profileModal
            +profileModal()

block scripts
    script(src='../../js/profile/profile.js' type='module')