$color-white: #ffffff;
$color-blue: #3369F3;
$colors-grey: #fbfbfb;
$color-black: #1e1e1e;
$color-silver-grey: #999999;
$color-portrait-light: #eaeaea;
$color-diamond-white: #efefef;
$colors-beckers-lammul: #e5e5e5;
$colors-rackham-grey: #999999;