div(class='chats-header')
    include ../../../../components/link/link.template.ts
    +link('Profile', '../../pages/profile/profile.pug', 'chats-header__link')
    div(class='chats-search')
        input(class='chats-search__input' placeholder='Поиск')